body{
	background-color: rgba(24,67,82,1);
}
nav{

height: 5em;
position: fixed;
z-index: 9999;
background-color: rgba(143, 150, 178, 0.3);
background-size: cover;
width: 100%;
}
nav ul{
	list-style: none;
	display: inline-block;
	float: right;
	padding-right: 6em;
}
nav li {
	float:left;
	padding: 1em;
	font-family: 'Open Sans Condensed', sans-serif;
  display:inline-block;
  
  
  
}
nav li:hover, nav li:focus, nav li:active {
  background-color: rgba(143, 150, 178, 0.2);
  box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);
   -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  
}
nav li a{
	text-decoration: none;
	color: #fff;
}
.clear{
	float: none;
	clear: both;
}
.intro {
	padding-top: 4em;
	background-image: url('https://cloud.githubusercontent.com/assets/8728338/13409051/ef4bbeaa-defe-11e5-8c96-54a4922bc461.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 35em;
	font-family: 'Rock Salt', cursive;
}
.title{
	
	margin-left: 40em;
	margin-top: 6em;
	background-color: rgba(210,100,100,.6);

	
}
.intro h1{
	font-size: 3em;
	text-align: center;
}

.intro h2{
	font-size: 1.5em;
	text-align: center;

}
.heading{
text-align: center;
background-color: rgba(143, 150, 178, 0.6);
float: left;
width: 30em;
height: 12em;
margin: 1em auto 2em 2em;
font-family: 'Satisfy', cursive;

}
.heading h2{
	font-size: 3em;
}
.about{
	margin: 2em;
}
.about .description{
	font-size: 1.5em;
	width: 25em;
	font-weight: 700;
	padding: 1.5em;
}
.description{
	float:right;
	background-color: rgba(143, 150, 178, 0.2);
	width: 40em;
	padding: 1em;
	text-align: center;
	height: auto;
	margin-bottom: 2em;
	font-family: 'Open Sans Condensed', sans-serif;

}
.description a{
	color: white;
    text-decoration: none;
    font-weight: 800;
}
.boxes{
	width: 90%;
	margin: 0 auto;
        max-width: 69em;
}	
#wordcloud{
	height: auto;
	 background-color: white;
}
.project-heading{
	background-color: rgba(143, 150, 178, 0.6);
	width: 30em;	
	height: 12em;
	font-family: 'Satisfy', cursive;
	text-align: center;
	margin:auto;
	padding-top: 1.2em;

}
.project-heading h2{
	font-size: 3em;
}
.box{
	width: 13em;
	background-color: rgba(143,150,178,0.7);
	padding: 1em;
	text-align: center;
	margin: 1em;
	display: inline-block;
	font-family: 'Open Sans Condensed', sans-serif;
	}
	

	.contactme .description{
	padding: 3.5em;


	} 
	.contactme .form-input, .contactme form h2{
		margin: 1em;
		font-family: 'Rock Salt', cursive;
	}
.pp{
	    width: 12.2em;
	    height: 9.5em;
}

footer{
	border-top: 1px solid rgba(143,150,178,0.7) ;
	height: 10em;
	padding: 2em;
	text-align: center;
	text-decoration: none;

}

footer>a{
	text-align: center;
	list-style-type: none;
	margin: auto;
	text-decoration: none;
	color:rgba(143,150,178,0.9);
}
footer h5 {
	color:rgba(143,150,178,0.9);
}
