body{
	background-color: rgba(143, 150, 178, 0.3);
}
nav{

height: 5em;
position: fixed;
z-index: 9999;
background-color: rgba(143, 150, 178, 0.3);
background-size: cover;
width: 84.5em;
}
nav ul{
	list-style: none;
	display: inline-block;
	float: right;
}
nav li{
	float:left;
	padding: 1em;
}
.clear{
	float: none;
	clear: both;
}
.intro {
	padding-top: 4em;
	background-image: url('../img/dove.jpg');
	background-repeat: no-repeat;
	background-size: 90em;
	height: 35em;
	font-family: 'Rock Salt', cursive;
}
.title{
	
	margin-left: 40em;
	margin-top: 6em;
	
}
.intro h1{
	font-size: 3em;
	text-align: center;
}

.intro h2{
	font-size: 1.5em;
	text-align: center;

}
.heading{
text-align: center;
background-color: rgba(143, 150, 178, 0.6);
float: left;
width: 30em;
height: 12em;
margin: 1em auto 2em 2em;
font-family: 'Satisfy', cursive;

}
.heading h2{
	font-size: 3em;
}
.description{
	float:left;
	background-color: rgba(143, 150, 178, 0.2);
	width: 40em;
	padding: 1em;
	text-align: center;
	margin-left: 8em;
	height: 12em;
	margin-bottom: 2em;
}
